const http = require('http');
const hostname = '{{ ansible_default_ipv4.address }}';
const port = {{ port }};

const server = http.createServer((req, res) => {
        res.statusCode = 200;
        res.setHeader('Content-Type', 'text/plain');
        res.end(`Sysmon App is Up and Running! on ${hostname}:${port}`);
});

server.listen(port, hostname, () => {
        console.log(`Server running at http://${hostname}:${port}/`);
});