const http = require('http');
const hostname = '3.21.21.101';
const port = {% for item in ports %} {{ item }} {% endfor %};

const server = http.createServer((req, res) => {
        res.statusCode = 200;
        res.setHeader('Content-Type', 'text/plain');
        res.end('Sysmon App is Up and Running!\n on ${hostname}:${port}');
});

server.listen(port, hostname, () => {
        console.log(`Server running at http://${hostname}:${port}/`);
});