---
- name: Create user and Generate SSH Key for user.
  hosts: {{usernode}}
  become: yes
  roles:
    - role: user-node
  vars:
    user: {{usernode}}
    group: {{usernode}}
    sudo: no
    keyname: {{usernode}}